<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="https://fontmeme.com/permalink/200728/4eb698a68a176b15dc02082ebc5c3314.png" >
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-custom-card (click)="emitRepublica()" [republica]="republica"  *ngFor="let republica of republicas"></app-custom-card>
</ion-content>
